{% extends 'index.html' %}

{% block content %}
<ul>
    {% for v in teams.items %}
    <li>{{v.name}} - 积分：{{v.integral}}</li>
    {% endfor %}
</ul>
<ul class="inline">
    {% if teams %}
        {% if teams.has_prev %}
            <li>
                <a href="{{ url_for('main.power_32', page=teams.page - 1) }}">上一页</a>
            </li>
        {% endif %}
        {% for v in teams.iter_pages() %}
            {% if v == teams.page %}
                <li><a href="{{url_for('main.power_32', page=v)}}" class="active">{{ v }}</a></li>
            {% else %}
                <li><a href="{{ url_for('main.power_32', page=v) }}">{{ v }}</a></li>
            {% endif %}
        {% endfor %}
    {% if teams.has_next %}
            <li>
                <a href="{{ url_for('main.power_32', page=teams.page + 1) }}">下一页</a>
            </li>
        {% endif %}
    {% endif %}
</ul>
<script>
    var n2 = document.getElementById("n2");
    n2.className = "active";
</script>
{% endblock %}